<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./static/css/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="./static/css/base.css">
	<script src="./static/js/Bootstrap5.0/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/4379c81596.js" crossorigin="anonymous"></script>
    <title>Flask Auth Example</title>
    {% block head %}
    {% endblock %}
</head>

<body style="background-color: #F3F3F3">
	<div class="container-fluid">
	<br>
	<h3>Sticky Navbar</h3>
	<p> Ici on peut mettre en image de fond cliché d'usine de découpe laser</p>
	</div>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top shadow p-3 mb-auto">
	   <div class="container-fluid">
		<!-- BRAND -->
		<div class="navbar-header">
		<a class="navbar-brand" href="{{ url_for('main.index') }}">
			<img src="/static/photo/bootstrap-logo.svg" width="40" height="30" class="d-inline-block align-top" alt="">
			ArmoniusWorkShop
		</a>
		</div>

		<!-- Toggler/collapsible Button -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>


		<!-- Navbar Links -->
		<div class="collapse navbar-collapse w-100 order-3 dual-collapse2" id="collapsibleNavbar">
			<ul class="nav navbar-nav">
				{% if current_user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('main.profile') }}">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('upload.upload_index') }}">Upload</a>
				</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link" href="#">Informations</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About us</a>
				</li>
			</ul>
			<ul class="nav navbar-nav ms-auto">
				{% if current_user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-in-alt"></i> Logout</a>
				</li>
			
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('auth.signup_post') }}"><i class="fas fa-user"></i> Sign Up</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('auth.login') }}"><i class="fas fa-sign-in-alt"></i> Login</a>
				</li>
				{% endif %}
			</ul>
		</div>
	    </div>
	</nav>
	<main>
		{% block content %}
		{% endblock %}
	</main>

</body>



</html>
