{% extends "base.html" %}
<!DOCTYPE html>
{% block head %}
<style type="text/css">
	div.stlviewer {
		height: 500px;
		width: 500px;
	}
</style>
<script type=text/javascript>
	window.onload=function() {
		STLViewerEnable("stlviewer");
	 } 
</script>
<script src="./static/js/three/three.min.js"></script>
<script src="./static/js/three/WebGL.js"></script>
<script src="./static/js/three/STLLoader.js"></script>
<script src="./static/js/three/OrbitControls.js"></script>
<script src="./static/js/three/stlviewer.js"></script>

{% endblock %}

{% block content %}
<div class="container">
	<div class="row p-3 p-md-3 m-md-3">
		<div class="col-sm-6">
			<div class="card card-topping-small">
				<div class="row p-3 p-md-2 m-md-2">
					<div class="col_s7_l9">
						<span>{{ Filename[0] }}</span>
						<span> par </span>
						<span>{{ Username }}</span>

					</div>
				</div>
				<div class="row p-3 p-md-2 m-md-2">
					<div class="col-sm-2">
						<ul class="">
							<li>test</li>
						</ul>
					</div>
					<div class="col-sm-10">
						{% for ThreeD in ThreeDs %}
						<div class="stlviewer d-flex" data-src="{{ ThreeD }}"></div>
						<p>{{ ThreeD }} </p>
						{% endfor %}
					</div>
				</div>


			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}