{% extends "base.html" %}
<!DOCTYPE html>
{% block head %}
<style type="text/css">
    div.stlviewer { height: 1000px; }
 </style>
<script type=text/javascript> 
	window.onload=function() {
		STLViewerEnable("stlviewer");
	 } 
</script>
<script src="./static/js/three/three.min.js"></script>
<script src="./static/js/three/WebGL.js"></script>
<script src="./static/js/three/STLLoader.js"></script>
<script src="./static/js/three/OrbitControls.js"></script>
<script src="./static/js/three/stlviewer.js"></script>

{% endblock %}

{% block content %}
	{% for ThreeD in ThreeDs %}
		<div class=stlviewer data-src="{{ ThreeD }}"></div>
		<p>{{ ThreeD }} </p>
	{% endfor %}

{% endblock %}