{% extends "profile.html" %}

{% block content_profile %}
<div class="row header-section">
    <div class="col-sm-6">
      <h3>Jobs</h3>
    </div>
  </div>
  <div class="row">
    {% for job in jobs %}
    <div class="col-sm-3 mt-2">
      <div class="row row-padding">
        <div class="col-sm-12 zoom-hover text-center">
          <a href="display?file={{ job.id }}">
            <img src="{{ job.templateChemin}}" class="img-thumbnail img-200" alt="...">
          </a>
          <div class="overlay">{{ job.name }}</div>
        </div>
      </div>
    </div>
    {% endfor %}  
  </div>
  {% endblock %}