@media screen and (min-width:300px) {
    div.stlviewer {
        height: 350px;
        width: 100%;
    }
}
@media screen and (min-width:768px) {
    div.stlviewer {
        height: 450px;
        width: 100%;
    }
}

.card-disabled {
    opacity: 0.4;
}

div.basket-button:hover {
    opacity: 0.5;
}

.color-item {
    border: 0em;
    flex: 0 0 200px;
    position: relative;
    padding-left: 35px;
    padding-right: 2px;
    min-height: 40px;
    cursor: pointer;
}

.color-item-disable {
    opacity: 0.4;
    pointer-events: none;
}

.color-item-selected {
    box-shadow: 0 0 4px 2px #0d6efd;
}

.color-item:hover {
    color: #0d6efd;
}

.btn-primary-hover:hover {
    color: white;
    background-color: #0d6efd;
}

.color-list-horizontal {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    list-style-type: none;
}

.tile {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 0;
    top: 5px;
    margin: 2px;
    
    border: 1px solid #ddd;
    border-radius: 4px;
}

.tile:hover {
    box-shadow: 0 0 4px 2px #0d6efd;
}

.blue-tile {
    background-color: #0d6efd;
}

.red-tile {
    background-color: red;
}

.black-tile {
    background-color: #101010;
}

.white-tile {
    background-color: #eeeeee;
}